body{
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding:0;
    background-color: rgb(233, 232, 232);
}
.header{
    background-color: rgb(4, 4, 148);
    display: inline-flex;
    width: 100%;
}
.left-header{
    float: left;
    padding-left: 50px;
    width: 50%;
}
.right-header{
    float: right;
}
.right-header table{
    margin: 5px;
    padding: 5px;
}
.right-header td{
    margin-right: 5px;
}
.right-header label{
    color: white;
    font-size: 15px;
}
a{
    text-decoration: none;
}
.content{
    display: inline-flex;
    width: 100%;
    background-color: rgb(233, 232, 232);
    
}
.left-content{
    float: left;
    width: 50%;
    margin-left: 60px;
    

}
.right-content{
    float: right;
    width: 50%;
    
    margin-left: 40px;
    padding:0;
}
.left-content p{
    color: rgb(4, 4, 148);
    font-weight: bold;
    font-size: 30px;
}
.input-single{
    width: 355px;
}
.right-content input{
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 5px;
    padding:5px;
}
.right-content label{
    color:rgb(4, 4, 148); 
    margin-top: 10px;
}
.right-content button{
    background-color: green;
    color: white;
    padding:5px;
    border-radius: 10px;
    font-size: large;
}