<!DOCTYPE html>
<html>
 <head>
 <title>Intro to Node and MongoDB</title>
 </head>
 
 <body>
 <h1>Into to Node and MongoDB</h1>
 <form method="post" action="/addsong">
 <label>Enter Your Favouorite song</label><br>
 <input type="text" name="Songname" placeholder="Enter song name..." required>
 <input type="text" name="Film" placeholder="Enter film name..." required>
 <input type="text" name="Music_director" placeholder="Enter music Director name..." required>
 <input type="text" name="singer" placeholder="Enter singer name..." required>
 <input type="submit" value="Add music">
 </form>
 </body>
</html>